header {
	margin-bottom: 30px;
	.top {
		background-color: #F4F4F4;
		margin-bottom: 30px;
		.container {
			font-size: 12px;
			span {font-size: 12px;}
			a {font-size: 12px;}
			p {
				color: #788981;
				span {color: #3B3E4D;}
				a {color: #F12F47;margin-left: 12px;}
				line-height: 32px;
			}
			ul li {float: left;}
			.sign {
				margin-left: 30px;
				li {
					margin: 0 12px;
					a {color: #7B8483;line-height: 32px;}
				}
			}
			.fr {
				li {
					position: relative;
					margin: 0 8px;
					line-height: 32px;
					cursor: pointer;
					&:hover ul {display: block;}
					&:hover div {display: block;}
					span {margin: 2px;}
					ul {
						background-color: #fff;
						padding: 2px;
						position: absolute;
						box-shadow: 0 0 2px #000;
						display: none;
						li {
							float: none;
							line-height: 25px;
							a {font-size: 12px;white-space: nowrap;}
						}
					}
					div {
						padding: 5px;
						position: absolute;
						background-color: #fff;
						box-shadow: 0 0 2px #000;
						display: none;
						img {width: 90px;height: 90px;}
						p {
							font-size: 12px;
							line-height: 16px;
							&:last-child {color: #e50112;}
						}
					}
				}
			}
		}
	}
	.bottom {
		h1 a {text-indent: -1000px;background: url('../img/logo.png');width: 194px;height: 58px;display: block;}
		a img {margin: 0 20px;}
		.search {
			span {line-height: 34px;width: 66px;border: 2px solid #DC000C;border-right: none;text-align: center;cursor: pointer;}
			input {border: 2px solid #DC000C;border-left: none;border-right: none;line-height: 34px;padding: 0;width: 400px;outline: none;}
			button {background-color: #DC000C;height: 38px;width: 70px;color: #fff;border: none;cursor: pointer;outline: none;}
			ul {
				float: left;
				margin-top: 8px;
				li {float: left;cursor: pointer;margin: 0 6px;&:first-child{color: #D43C63}}
			}
		}
		.fr {margin-top: -45px;}
	}
}

nav {
	border-bottom: 1px solid #CD0823;
	.nav_block li {
		float: left;
		font-size: 16px;
		line-height: 36px;
		width: 186px;
		padding-left: 14px;
		z-index:9999;
		position: relative;
		&:nth-child(1) a {color: #fff;}
		a {color: #000;}
		&:nth-child(1) {
			background-color: #DD0208;
			color: #fff;
			cursor: pointer;
			i {padding-right: 5px;}
		}
		@for $i from 2 through 4 {
			&:nth-child(#{$i}) {text-align: center;}
		}
	}
	.nav_list {
		background-color: #3E4851;
		position: absolute;
		z-index: 999;
		display: none;
		li {
			border-bottom: 1px solid #313B44;
			width: 180px;
			padding: 20px 0 10px 20px;
			float: none;
			text-align: left;
			cursor: pointer;
			dt {
				color: #fff;
				margin-bottom: 10px;
				.nav_icon {
					display: inline-block;
					width: 14px;
					height: 20px;
					background:url('../img/icon.png') 0 0 no-repeat;
					margin-right: 4px;
					position: relative;
					top: 5px;
				}
			}
			dd {
				float: left;
				a {color: #fff;padding: 2px;margin: 4px;font-size: 12px;}
				.nav_act {background-color: #fff;color: #3E4851;border-radius: 4px;}
			}
			@for $i from 2 through 6 {
				$left : -30px * ($i - 1);
				&:nth-child(#{$i}) .nav_icon {background-position: $left 0;}
			}
			.nav_list_r {
				position: absolute;
				top: 1px;
				background-color: #fff;
				width: 700px;
				left: 200px;
				height: 504px;
				display: none;
				a {
					color: #666;
					&:hover {color: #DD0208;}
				}
				dl {overflow: hidden;}
				dt {color: #313131;border-bottom: 1px solid #313131;padding-bottom: 15px;font-size: 14px;margin-bottom: 15px;margin-top: 8px;}
				dd {width: 80px;height: 24px;line-height: 24px;}
				.list_l {width: 480px;margin: 20px 0 0 20px;}
				.list_r {
					background-color: #f7f7f7;
					height: 100%;
					p {line-height: 38px;font-size: 12px;text-align: center;}
				}
			}
			&:hover .nav_list_r {display: block;}
		}
	}
}

.aside {
	height: 100%;
	width: 40px;
	background-color: #2A292E;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	ul {
		position: absolute;
		top: 15%;
		li {
			color: #fff;
			text-align: center;
			padding: 10px 8px;
			cursor: pointer;
			margin-bottom: 15px;
			position: relative;
			a {
				color: #fff;
				i {font-size: 18px;color: #C6C6C6;display:inline-block;}
				span {display:inline-block;background-color: #E03C30;width: 20px;height: 20px;border-radius: 50%;line-height: 18px;text-align:center;font-size: 12px;}
			}
			i {font-size: 18px;color: #C6C6C6;display:inline-block;}
			div {
				position: absolute;color: #fff;padding: 10px 8px;width: 100px;top: 0;left: -140px;background-color: #2A292E;opacity: 0;transition:left 0.5s ease, opacity 0.5s ease;visibility: hidden;
				&::after {content: '';border: 6px solid transparent;border-left-color: #2A292E;right: -12px;top: 50%;transform: translateY(-50%);position: absolute;}
			}
			&:hover {
				background-color: #E03C30;
				div {opacity: 1;left: -116px;visibility: visible;}
				i {color: #fff;}
			}
		}
	}
}

footer {
	.one {
		background-color: #F8F8F8;
		border-bottom: 1px solid #D5D5D5;
		padding: 35px 0;
		li {
			float: left;
			width: 198px;
			span {float: left;width: 55px;height: 40px;background: url('../img/icon.png') 0 -37px no-repeat;}
			div {
				float: left;
				h3 {font-size: 16px;margin-bottom: 2px;color: #313131;font-weight: none;}
				p {font-size: 12px;color: #666;}
			}
			@for $i from 2 through 6 {
				$left : -60px * ($i - 1);
				&:nth-child(#{$i}) span {background-position: $left -37px;}
			}
		}
	}
	.two {
		background-color: #F3F3F3;
		padding-top: 40px;
		.left {
			div {
				margin-bottom: 20px;
				margin-right: 70px;
				a {
					display: block;
					width: 101px;
					height: 30px;
					background: url('../img/footer/zj.png') no-repeat;
				}
				&:hover a {background: url('../img/footer/zj2.png') no-repeat;}
				&:nth-child(2) a {background: url('../img/footer/ls.png') no-repeat;width: 126px;&:hover {background: url('../img/footer/ls2.png') no-repeat;}}
			}
		}
		.center {
			dl {
				float: left;
				width: 150px;
				dt {font-size: 16px;line-height: 36px;font-weight: bold;color: #313131;}
				dd a {color: #666;line-height: 24px;font-size: 12px;}
			}
		}
		.right {
			div {
				text-align: center;
				margin-right: 24px;
				h3 {line-height: 36px;color: #313131;font-weight: bold;font-size: 16px;}
				img {margin: 0 auto;}
				p {color: #666;font-size: 12px;}
			}
		}
	}
	.three {
		background-color: #313131;
		text-align: center;
		ul {display: inline-block;}
		li {
			float: left;
			height: 40px;
			a {padding: 0 12px;color: #fff;border-right: 1px solid #fff;margin-top: 12px;display: block;}
		}
	}
	.four {
		text-align: center;
		p {padding-top: 10px;font-size: 12px;color: #666;}
		div span {
			margin-top: 12px;
			display: inline-block;
			width: 114px;
			height: 41px;
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {background: url('../img/footer/footer_#{$i}.png') no-repeat;}
			}
		}
	}
}