.content {
	padding-left: 20px;
	.c_nav {
		margin: 16px 0;
		ul li {
			float: left;font-size: 12px;
			a {
				padding: 0 16px;color: #706B58;
				&:hover {color: #DD0208;}
			}
		}
	}
	.c_goodsMsg {
		border-bottom: 1px solid #DDDDDD;margin-bottom: 22px;
		.cg_left {
			.big {width: 350px;height: 350px;border: 1px solid #ccc;}
			.imgList {
				li {
					float: left;margin: 8px;
					img {width: 50px;height: 50px;border: 3px solid #fff;cursor: pointer;}
					.act {border: 3px solid #f00;}
				}
			}
			.like {
				margin: 20px 0;
				.fl {
					cursor: pointer;
					.active {color: #ffbc00;}
				}
				.fr {
					i {
						cursor: pointer;
						&:nth-child(1) {color: #079DFE;}
						&:nth-child(2) {color: #06D41A;}
						&:nth-child(3) {color: #ED1B36;}
					}
				}
			}
		}
		.cg_center {
			margin-left: 50px;
			h2 {font-size: 14px;font-weight: normal;margin-bottom: 12px;}
			.cg_price {
				padding: 16px;height: 24px;width: 428px;background: url('../img/details.jpg') 0 0 no-repeat;
				p {
					line-height: 24px;
					span {color: #ED3D26;font-size: 24px;}
				}
				div {
					width: 80px;height: 25px;background: #fff url('../img/detailsQR.png') 8px 4px no-repeat;padding-left: 20px;text-align: center;line-height: 25px;cursor: pointer;
				}
			}
			.sell {
				height: 22px;padding: 12px 0;border-bottom: 1px dashed #C8C8CA;
				li {
					float: left;padding: 0 28px;border-right: 1px solid #A19FA0;
					span {padding-left: 12px;color: #E55F3A;}
					.iconfont {padding: 0;color: #666;}
					.act {color: #ffbc00;}
					&:last-child {border: none;}
				}
			}
			.serve {
				border-bottom: 1px dashed #C8C8CA;;
				li {
					overflow: hidden;padding: 16px 0;
					strong {color: #EC1F0A;padding: 0 2px;}
					span {padding-right: 20px;color: #736757;}
					.site {
						display: inline-block;color: #EC1F0A;border: 1px solid #ccc;padding: 4px;cursor: pointer;
						i {display: inline-block;border: 5px solid #fff;border-top-color: #000;margin-left: 8px;position: relative;top: 2px;cursor: pointer;}
					}
				}
			}
			.goods_num {
				padding: 16px 0;color: #666;
				span {margin-right: 20px;}
				.countNum {
					button {width: 30px;height: 24px;border: 1px solid #C2C3C5;background-color: #fff;outline: none;cursor: pointer;}
					input {border: 1px solid #C2C3C5;width: 34px;height: 24px;text-align: center;}
				}
			}
			.btns {
				div {
					height: 44px;line-height: 44px;color: #fff;font-size: 20px;border-radius: 10px;background-color: #FF4D50;border: 2px solid #FF4D50;cursor: pointer;margin-right: 50px;padding: 0 16px;
					i {font-size: 24px;}
					&:last-child {background-color: #fff;color: #FF4D50;}
				}
			}
		}
		.cg_right {
			width: 215px;
			.goods_logo {
				text-align: center;border-top: 3px solid #FD4D4F;border-bottom: 1px solid #CCC8C9;padding-bottom: 14px;
				img {margin: 0 auto;}
				a {color: #666;}
			}
			ul li {
				border-bottom: 1px dashed #C9C9C9;
				&:first-child {
					padding: 16px 0;
					span {display: inline-block;width: 48px;height: 25px;line-height: 25px;color: #fff;text-align: center;background-color: #FF4955;margin-left: 10px;}
					a {padding-left: 40px;line-height: 25px;font-size: 16px;background:none;color: #655669;&:hover {color: #FF4344;}}
				}
				&:last-child {border: none;}
				a {padding-left: 30px;background: url('../img/qq.gif') 0 0 no-repeat;line-height: 38px;color: #6A5D71;}
				dl {
					margin-top: 18px;
					dt {font-size: 16px;margin-bottom: 14px;}
					dd {
						margin-bottom: 12px;
						i {font-size: 18px;margin-right: 8px;color: #FE7682;}
					}
				}
			}
		}
	}
}

.content2 {
	.c2_left {
		width: 250px;border: 1px solid #CBCBCD;height: 973px;
		.clearFix li {
			float: left;position: relative;width: 50%;text-align: center;line-height: 40px;cursor: pointer;
			}
		.active {
			&::before {content: "";height: 0;border: 8px solid transparent;position: absolute;left: 50%;bottom: -16px;transform: translateX(-50%);border-top-color: #DEDEDE;z-index: 999;}
			&::after {content: "";height: 0;border: 8px solid transparent;position: absolute;left: 50%;bottom: -14px;transform: translateX(-50%);border-top-color: #fff;z-index: 999;}
		}
		.c2_list {
			position: relative;
			ul {
				background-color: #fff;position: absolute;padding: 0 10px;top: 1px;border: 1px solid #DEDEDE;
				li {
					border-bottom: 1px dashed #DEDEDE;padding-bottom: 10px;
					a {color: #232517;margin-bottom: 5px;&:hover {color: #E73978;}}
					div {
						margin-top: 20px;
						span {
							font-size: 16px;
							&:nth-child(2) {color: #E73978;}
							i {font-size: 18px;color: #E73978;}
						}
					}
				}
			}
		}
	}
	.c2_right {
		width: 900px;
		.c2_nav {
			border: 1px solid #CBCBCD;
			li {
				float: left;padding: 16px 25px;font-size: 16px;cursor: pointer;
				span {color: #3987DA;}
			}
			.active {
				border: 2px solid #CBCBCD;border-top: 4px solid #F33C40;position: relative;
				&::after {content: "";height: 0;border: 8px solid transparent;border-top-color: #F33C40;position: absolute;top: 0;left: 50%;transform: translateX(-50%);}
			}
		}
		.goodsShow {
			margin-bottom: 20px;
			.top {
				padding: 8px;border: 1px solid #CBCACF;margin-bottom: 20px;
				ul li {float: left;width: 280px;}
			}
			.bottom {
				img {width: 750px;margin: 0 auto;}
			}
		}
		.brandShow {
			margin-bottom: 20px;
			p {
				border: 1px solid #CBCACF;
				span {width: 80px;height: 50px;border: 2px solid #CBCACF;border-top: 4px solid #F73B3C;font-size: 14px;color: #F73B3C;line-height: 50px;text-align: center;display: inline-block;}
			}
			div {
				padding: 20px 0;
				p {border: none;width: 800px;}
			}
		}
	}
}