#nav .nav_list {display: block;}

.floor {
	ul {
		padding: 5px;position: fixed;background-color: #fff;left: 20px;
		li {width: 80px;height: 50px;line-height: 50px;text-align: center;cursor: pointer;}
	}
}

.banner {
	height: 500px;position: relative;
	ul li {
		position: absolute;z-index: -999;width: 100%;height: 100%;z-index: 888;opacity: 0;
		&:first-child {opacity: 1;}
		a {
			width: 100%;height: 100%;display: block;
		}
		@for $i from 1 through 8 {
			&:nth-child(#{$i}) a {
				background: url('../img/banner/banner#{$i}.jpg') center top no-repeat;
			}
		}
	}
	.btn {
		position: absolute;bottom: 15px;left: 50%;transform: translateX(-50%);z-index: 999;
		span {float: left;width: 15px;height: 15px;margin: 10px;border-radius: 50%;background-color: #fff;}
		.active {border: 2px solid #fff;background-color: transparent;width: 13px;height: 13px;}
	}
	.container{
		position: relative;height: 500px;
		a {
			position: absolute;right: 0;top: 0;z-index: 999;
			img {
				width: 200px;height: 243px;
			}
			&:nth-child(2) {top: 250px;}
		}
	}
}

.hot {
	margin-top: 28px;margin-bottom: 8px;
	h2 {
		border-bottom: 1px solid #CACACA;
		span {display:inline-block;text-align: center;width: 185px;line-height: 36px;font-size: 16px;color: #AF0B16;border: 1px solid #EDEDED;border-top: 2px solid #AF0B16;border-bottom-color: #fff;position: relative;top: 1px;}
		a {
			color: #6A7066;float: right;padding-top: 10px;
			&:hover {color: #AF0B16;}
		}
	}
	ul li {
		float: left;margin: 8px;transition: transform 0.4s ease;
		&:hover {transform: translateX(-8px);}
		a {
			display: block;
		}
	}
}

#help, #white, #wine, #beer {padding-top: 24px;}

.choice {
	.c_header {
		border-bottom: 1px solid #CACACA;margin-bottom: 2px;
		span {font-size: 18px;padding-left: 12px;border-left: 4px solid #EC103E;margin-bottom: 14px;float: left;font-weight: bold;}
		ul {
			margin-top: 12px;float: right;
			li {
				float: left;margin-left: 50px;cursor: pointer;position: relative;
				a {color: #6A7066;}
				&:hover {color: #AF0B16;a {color: #AF0B16;};}
				&::after {content: "";display: block;border: 6px solid transparent;border-bottom-color: #CACACA;position: absolute;bottom: -7px;left: 50%;transform: translateX(-50%);display: none;}
				&::before {content: "";display: block;border: 6px solid transparent;border-bottom-color: #fff;position: absolute;bottom: -8px;left: 50%;transform: translateX(-50%);z-index: 999;display: none;}
			}
			.active {&::after, &::before{display: block;}}
		}
	}
	.c_content .left {
		position: relative;float: left;margin-right: 10px;
		a {display: block;}
		.list1 {
			position: absolute;top: 170px;padding-left: 22px;width: 230px;
			li {
				float: left;width: 100px;margin: 5px;
				a {color: #2F2C35;}
				&:hover a {color: #AF0B16;}
			}
		}
		.smallList1, .smallList2, .smallList3, .smallList4 {
			position: absolute;bottom: 0;width: 208px;overflow: hidden;left: 8px;
			ul {
				width: 324px;
				li {
					float: left;margin: 4px;
					a {
						display: block;
						img {width: 100px;height: 40px;}
					}
				}
			}
		}
		span {position: absolute;font-weight: bold;cursor: pointer;font-size: 16px;bottom: 62px;}
		.l_left {left: -2px;}
		.l_right {right: -2px;}
	}
	.c_content .c_goodList {
		position: relative;left: 0;
		div {position: absolute;left: 0;top: 0;width: 950px;}
		.cg_hot {
			ul li {float: left;margin-right: 4px;}
		}
		.cg_list {
			display: none;
			ul li {
				float: left;border-right: 1px solid #eee;border-bottom: 1px solid #eee;padding: 10px 14px;width: 160px;
				img {width: 160px;height: 160px;}
				p {color: #f00f34;}
				a {font-size: 12px;line-height: 20px;color: #333;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display:block;width: 160px;&:hover{color: #f00f34;}}
				&:nth-child(5n) {border-right: none;}
			}
		}
	}
	.c_content .c_bottom {
		li {float: left;margin-right: 4px;margin-top: 4px;}
	}
}

.store {
	margin-top: 20px;margin-bottom: 30px;width: 100%;
	h2 {font-size: 18px;line-height: 18px;padding-bottom: 15px;color: #3d4048;}
	.content {border: 1px solid #F3F3F3;}
	.s_center {
		width: 550px;padding: 12px 38px;position: relative;margin-left: 20px;padding-right: 0;
		.s_list {
			width: 500px;height: 320px;overflow: hidden;position: relative;margin-top: 5px;
			ul {
				width: 1000px;position: absolute;
				li {
					float: left;width: 100px;height: 80px;
					img {width: 100px;height: 50px;}
				}
			}
		}
		span {position: absolute;top: 50%;transform: translateY(-50%);width: 20px;height: 40px;line-height: 40px;background-color: #ddd;cursor: pointer;color: #fff;text-align: center;}
		.sc_left {left: 8px;}
		.sc_right {right: 8px;}
	}
}