body {background-color: #EEF3FA;}

.content {width: 900px;margin: 0 auto;}

.top {
	padding: 10px 0;
	a img {height: 60px;}
	p {font-size: 24px;line-height: 46px;float: left;padding-left: 14px;margin-left: 24px;border-left: 1px solid #E3E3E3;margin-top: 8px;}
}

.bottom {
	margin-top: 10px;
	.b_top {
		text-align: right;
		line-height: 32px;
		a {color: #E3393C;}
	}
	.b_bottom {
		background-color: #fff;
		width: 100%;
		border: 1px solid #DDDDDD;
		form {
			padding: 70px 420px 70px 100px;
			@for $i from 1 through 4 {
				label {&:nth-of-type(#{$i}){width: 80px;text-align:right;padding-right: 20px;color: #999999;float: left;line-height: 36px;}}
			}
			input[type=text], input[type=password] {width: 230px;height: 36px;border: 1px solid #CCCCCC;outline: none;border-right: none;padding-left: 12px;}
			input[type=checkbox] {margin-left: 25px;}
			a {color: #E3393C;}
			button {width: 270px;height: 36px;color: #fff;background-color: #E43E42;font-size: 16px;border: none;border-radius: 4px;margin-top: 20px;outline: none;cursor: pointer;}
			span {width: 36px;height: 38px;text-align: center;float: right;line-height: 38px;color: #DBDBDB;border: 1px solid #ccc;border-left: none;}
			#code {width: 100px;border: 1px solid #ccc;}
			.show_code {width: 100px;height: 36px;line-height: 36px;border: 1px solid #aaa;margin-right: 36px;float: right;text-align: center;background: url('../img/details.jpg') 0 0 no-repeat;cursor: pointer;}
			.error {color: #f00;font-size: 12px;line-height: 30px;padding-left: 100px;visibility: hidden;}
		}
	}
}

.footer {text-align: center;margin-top: 12px;font-size: 12px;color: #545454;}