.content { padding-left: 20px; }

.content .c_nav { margin: 16px 0; }

.content .c_nav ul li { float: left; font-size: 12px; }

.content .c_nav ul li a { padding: 0 16px; color: #706B58; }

.content .c_nav ul li a:hover { color: #DD0208; }

.content .c_goodsMsg { border-bottom: 1px solid #DDDDDD; margin-bottom: 22px; }

.content .c_goodsMsg .cg_left .big { width: 350px; height: 350px; border: 1px solid #ccc; }

.content .c_goodsMsg .cg_left .imgList li { float: left; margin: 8px; }

.content .c_goodsMsg .cg_left .imgList li img { width: 50px; height: 50px; border: 3px solid #fff; cursor: pointer; }

.content .c_goodsMsg .cg_left .imgList li .act { border: 3px solid #f00; }

.content .c_goodsMsg .cg_left .like { margin: 20px 0; }

.content .c_goodsMsg .cg_left .like .fl { cursor: pointer; }

.content .c_goodsMsg .cg_left .like .fl .active { color: #ffbc00; }

.content .c_goodsMsg .cg_left .like .fr i { cursor: pointer; }

.content .c_goodsMsg .cg_left .like .fr i:nth-child(1) { color: #079DFE; }

.content .c_goodsMsg .cg_left .like .fr i:nth-child(2) { color: #06D41A; }

.content .c_goodsMsg .cg_left .like .fr i:nth-child(3) { color: #ED1B36; }

.content .c_goodsMsg .cg_center { margin-left: 50px; }

.content .c_goodsMsg .cg_center h1 { font-size: 14px; font-weight: normal; margin-bottom: 12px; }

.content .c_goodsMsg .cg_center .cg_price { padding: 16px; height: 24px; width: 428px; background: url("../img/details.jpg") 0 0 no-repeat; }

.content .c_goodsMsg .cg_center .cg_price p { line-height: 24px; }

.content .c_goodsMsg .cg_center .cg_price p span { color: #ED3D26; font-size: 24px; }

.content .c_goodsMsg .cg_center .cg_price div { width: 80px; height: 25px; background: #fff url("../img/detailsQR.png") 8px 4px no-repeat; padding-left: 20px; text-align: center; line-height: 25px; cursor: pointer; }

.content .c_goodsMsg .cg_center .sell { height: 22px; padding: 12px 0; border-bottom: 1px dashed #C8C8CA; }

.content .c_goodsMsg .cg_center .sell li { float: left; padding: 0 28px; border-right: 1px solid #A19FA0; }

.content .c_goodsMsg .cg_center .sell li span { padding-left: 12px; color: #E55F3A; }

.content .c_goodsMsg .cg_center .sell li .iconfont { padding: 0; color: #666; }

.content .c_goodsMsg .cg_center .sell li .act { color: #ffbc00; }

.content .c_goodsMsg .cg_center .sell li:last-child { border: none; }

.content .c_goodsMsg .cg_center .serve { border-bottom: 1px dashed #C8C8CA; }

.content .c_goodsMsg .cg_center .serve li { overflow: hidden; padding: 16px 0; }

.content .c_goodsMsg .cg_center .serve li strong { color: #EC1F0A; padding: 0 2px; }

.content .c_goodsMsg .cg_center .serve li span { padding-right: 20px; color: #736757; }

.content .c_goodsMsg .cg_center .serve li .site { display: inline-block; color: #EC1F0A; border: 1px solid #ccc; padding: 4px; cursor: pointer; }

.content .c_goodsMsg .cg_center .serve li .site i { display: inline-block; border: 5px solid #fff; border-top-color: #000; margin-left: 8px; position: relative; top: 2px; cursor: pointer; }

.content .c_goodsMsg .cg_center .goods_num { padding: 16px 0; color: #666; }

.content .c_goodsMsg .cg_center .goods_num span { margin-right: 20px; }

.content .c_goodsMsg .cg_center .goods_num .countNum button { width: 30px; height: 24px; border: 1px solid #C2C3C5; background-color: #fff; outline: none; cursor: pointer; }

.content .c_goodsMsg .cg_center .goods_num .countNum input { border: 1px solid #C2C3C5; width: 34px; height: 24px; text-align: center; }

.content .c_goodsMsg .cg_center .btns div { height: 44px; line-height: 44px; color: #fff; font-size: 20px; border-radius: 10px; background-color: #FF4D50; border: 2px solid #FF4D50; cursor: pointer; margin-right: 50px; padding: 0 16px; }

.content .c_goodsMsg .cg_center .btns div i { font-size: 24px; }

.content .c_goodsMsg .cg_center .btns div:last-child { background-color: #fff; color: #FF4D50; }

.content .c_goodsMsg .cg_right { width: 215px; }

.content .c_goodsMsg .cg_right .goods_logo { text-align: center; border-top: 3px solid #FD4D4F; border-bottom: 1px solid #CCC8C9; padding-bottom: 14px; }

.content .c_goodsMsg .cg_right .goods_logo img { margin: 0 auto; }

.content .c_goodsMsg .cg_right .goods_logo a { color: #666; }

.content .c_goodsMsg .cg_right ul li { border-bottom: 1px dashed #C9C9C9; }

.content .c_goodsMsg .cg_right ul li:first-child { padding: 16px 0; }

.content .c_goodsMsg .cg_right ul li:first-child span { display: inline-block; width: 48px; height: 25px; line-height: 25px; color: #fff; text-align: center; background-color: #FF4955; margin-left: 10px; }

.content .c_goodsMsg .cg_right ul li:first-child a { padding-left: 40px; line-height: 25px; font-size: 16px; background: none; color: #655669; }

.content .c_goodsMsg .cg_right ul li:first-child a:hover { color: #FF4344; }

.content .c_goodsMsg .cg_right ul li:last-child { border: none; }

.content .c_goodsMsg .cg_right ul li a { padding-left: 30px; background: url("../img/qq.gif") 0 0 no-repeat; line-height: 38px; color: #6A5D71; }

.content .c_goodsMsg .cg_right ul li dl { margin-top: 18px; }

.content .c_goodsMsg .cg_right ul li dl dt { font-size: 16px; margin-bottom: 14px; }

.content .c_goodsMsg .cg_right ul li dl dd { margin-bottom: 12px; }

.content .c_goodsMsg .cg_right ul li dl dd i { font-size: 18px; margin-right: 8px; color: #FE7682; }

.content2 .c2_left { width: 250px; border: 1px solid #CBCBCD; height: 973px; }

.content2 .c2_left .clearFix li { float: left; position: relative; width: 50%; text-align: center; line-height: 40px; cursor: pointer; }

.content2 .c2_left .active::before { content: ""; height: 0; border: 8px solid transparent; position: absolute; left: 50%; bottom: -16px; transform: translateX(-50%); border-top-color: #DEDEDE; z-index: 999; }

.content2 .c2_left .active::after { content: ""; height: 0; border: 8px solid transparent; position: absolute; left: 50%; bottom: -14px; transform: translateX(-50%); border-top-color: #fff; z-index: 999; }

.content2 .c2_left .c2_list { position: relative; }

.content2 .c2_left .c2_list ul { background-color: #fff; position: absolute; padding: 0 10px; top: 1px; border: 1px solid #DEDEDE; }

.content2 .c2_left .c2_list ul li { border-bottom: 1px dashed #DEDEDE; padding-bottom: 10px; }

.content2 .c2_left .c2_list ul li a { color: #232517; margin-bottom: 5px; }

.content2 .c2_left .c2_list ul li a:hover { color: #E73978; }

.content2 .c2_left .c2_list ul li div { margin-top: 20px; }

.content2 .c2_left .c2_list ul li div span { font-size: 16px; }

.content2 .c2_left .c2_list ul li div span:nth-child(2) { color: #E73978; }

.content2 .c2_left .c2_list ul li div span i { font-size: 18px; color: #E73978; }

.content2 .c2_right { width: 900px; }

.content2 .c2_right .c2_nav { border: 1px solid #CBCBCD; }

.content2 .c2_right .c2_nav li { float: left; padding: 16px 25px; font-size: 16px; cursor: pointer; }

.content2 .c2_right .c2_nav li span { color: #3987DA; }

.content2 .c2_right .c2_nav .active { border: 2px solid #CBCBCD; border-top: 4px solid #F33C40; position: relative; }

.content2 .c2_right .c2_nav .active::after { content: ""; height: 0; border: 8px solid transparent; border-top-color: #F33C40; position: absolute; top: 0; left: 50%; transform: translateX(-50%); }

.content2 .c2_right .goodsShow { margin-bottom: 20px; }

.content2 .c2_right .goodsShow .top { padding: 8px; border: 1px solid #CBCACF; margin-bottom: 20px; }

.content2 .c2_right .goodsShow .top ul li { float: left; width: 280px; }

.content2 .c2_right .goodsShow .bottom img { width: 750px; margin: 0 auto; }

.content2 .c2_right .brandShow { margin-bottom: 20px; }

.content2 .c2_right .brandShow p { border: 1px solid #CBCACF; }

.content2 .c2_right .brandShow p span { width: 80px; height: 50px; border: 2px solid #CBCACF; border-top: 4px solid #F73B3C; font-size: 14px; color: #F73B3C; line-height: 50px; text-align: center; display: inline-block; }

.content2 .c2_right .brandShow div { padding: 20px 0; }

.content2 .c2_right .brandShow div p { border: none; width: 800px; }
