.content .c_top { border-bottom: 1px solid #DADADA; margin-bottom: 20px; }

.content .c_top ul li { float: left; font-size: 12px; line-height: 46px; }

.content .c_top ul li a { padding: 0 5px 0 15px; color: #666761; }

.content .c_top ul li a:hover { color: #DE030B; }

.content .c_top ul li:first-child a { font-weight: bold; }

.content .c_top p { font-size: 12px; line-height: 46px; }

.content .c_top p span { color: #DC1729; font-weight: bold; }

.content .c_bottom .cb_left h2 { font-size: 12px; padding-top: 4px; }

.content .c_bottom .cb_right { width: 960px; }

.content .c_bottom .cb_right .cb_list { padding-left: 12px; padding-top: 20px; background-color: #F9F9F9; border-top: 1px solid #E1E1E1; margin-bottom: 20px; }

.content .c_bottom .cb_right .cb_list div { border-bottom: 1px dashed #E1E1E1; }

.content .c_bottom .cb_right .cb_list div span { line-height: 50px; font-weight: bold; margin-right: 24px; }

.content .c_bottom .cb_right .cb_list div ul { max-width: 880px; }

.content .c_bottom .cb_right .cb_list div ul li { float: left; }

.content .c_bottom .cb_right .cb_list div ul li a { color: #6C6D68; line-height: 50px; margin-right: 30px; font-size: 12px; }

.content .c_bottom .cb_right .cb_list div:first-child ul li { float: left; margin-right: 10px; }

.content .c_bottom .cb_right .cb_list div:first-child ul li a { line-height: 0; }

.content .c_bottom .cb_right .cb_list div:first-child ul li a img { width: 100px; height: 38px; }

.content .c_bottom .cb_right .cb_sort { border-top: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC; margin-bottom: 20px; }

.content .c_bottom .cb_right .cb_sort .left { line-height: 50px; font-size: 12px; }

.content .c_bottom .cb_right .cb_sort .left span { margin-right: 30px; }

.content .c_bottom .cb_right .cb_sort .left .active { font-weight: bold; }

.content .c_bottom .cb_right .cb_sort .right { line-height: 50px; }

.content .c_bottom .cb_right .cb_sort .right .arror { display: inline-block; width: 30px; height: 22px; line-height: 22px; text-align: center; border: 1px solid #ccc; border-radius: 3px; cursor: pointer; }

.content .c_bottom .cb_right .cb_sort .right .now { border: none; color: #EA3635; }

.content .c_bottom .cb_right .cb_goodslist { position: relative; height: 570px; }

.content .c_bottom .cb_right .cb_goodslist li { float: left; padding: 6px; border: 1px solid #ccc; height: 276px; overflow: hidden; position: absolute; background-color: #fff; transition: height 0.5s ease; }

.content .c_bottom .cb_right .cb_goodslist li:hover { height: 333px; z-index: 999; border: 1px solid #f00; }

.content .c_bottom .cb_right .cb_goodslist li a img { width: 214px; height: 214px; }

.content .c_bottom .cb_right .cb_goodslist li .clearFix { font-size: 12px; }

.content .c_bottom .cb_right .cb_goodslist li .clearFix p { font-size: 14px; font-weight: bold; }

.content .c_bottom .cb_right .cb_goodslist li .clearFix p:nth-child(1) { color: #F21451; }

.content .c_bottom .cb_right .cb_goodslist li p { line-height: 20px; font-size: 12px; }

.content .c_bottom .cb_right .cb_goodslist li p a { color: #343434; }

.content .c_bottom .cb_right .cb_goodslist li p:nth-of-type(1) { font-size: 16px; margin-bottom: 5px; }

.content .c_bottom .cb_right .cb_goodslist li p:nth-of-type(1) a:hover { color: #f00; }

.content .c_bottom .cb_right .cb_goodslist li p:nth-of-type(2) a:hover { text-decoration: underline; }

.content .c_bottom .cb_right .cb_goodslist li .smallImg li { margin: 4px; height: 45px; padding: 0; margin-bottom: 0; }

.content .c_bottom .cb_right .cb_goodslist li .smallImg li img { width: 45px; height: 45px; cursor: pointer; }

.content .c_bottom .cb_right .cb_page { padding: 30px 0; }

.content .c_bottom .cb_right .cb_page .pageInput { font-size: 12px; width: 420px; }

.content .c_bottom .cb_right .cb_page .pageInput button { width: 80px; height: 30px; border: 1px solid #ccc; border-radius: 4px; cursor: pointer; outline: none; background-color: #fff; }

.content .c_bottom .cb_right .cb_page .pageInput ul li { float: left; margin: 5px; }

.content .c_bottom .cb_right .cb_page .pageInput ul li span { display: block; width: 20px; height: 15px; text-align: center; line-height: 15px; border: 1px solid #ccc; cursor: pointer; border-radius: 4px; font-size: 12px; }

.content .c_bottom .cb_right .cb_page .pageInput ul li .active { border: none; color: #FF5A07; }

.content .c_bottom .cb_right .cb_page .pageSum { padding: 0 10px; color: #aaa; line-height: 30px; }

.content .c_bottom .cb_right .cb_page .pageChoice input { width: 40px; height: 25px; text-align: center; outline: none; margin: 0 5px; }

.content .c_bottom .cb_right .cb_page .pageChoice button { border: 1px solid #ccc; border-radius: 4px; margin-left: 4px; width: 50px; height: 25px; cursor: pointer; outline: none; }
